body,
html {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #c977fc, #ffffff);
  font-family: "Dela Gothic One", sans-serif;
  width: 100%;
  height: 100%;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.audioplayer {
  margin-top: 10%;
}

/* Variables */
:root {
  --primary: #a6c2ff;
  --secondary: #a6c2ff;
  --white: #fff;
  --gray: #9b9b9b;
}

/* .form__group */
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 30%;
  margin-bottom: 10%;
}

/* .form__field */
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--gray);
  outline: 0;
  font-size: 1.3rem;
  color: var(--white);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

/* .form__label */
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--gray);
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--primary);
  font-weight: 700;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--primary), var(--secondary));
  border-image-slice: 1;
}

/* Reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

html,
body {
  position: relative;
  min-height: 100vh;
  background-color: #fff0f5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Styles pour .player */
.player {
  position: relative;
}

/* Styles pour .info */
.player .info {
  position: absolute;
  height: 60px;
  top: 0;
  opacity: 0;
  left: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px 15px 5px 110px;
  border-radius: 15px;
  transition: all 0.5s ease;
}

.player .info .artist,
.player .info .name {
  display: block;
}

.player .info .artist {
  color: #222;
  font-size: 16px;
  margin-bottom: 5px;
}

.player .info .name {
  color: #999;
  font-size: 12px;
  margin-bottom: 8px;
}

.player .info .progress-bar {
  background-color: #ddd;
  height: 2px;
  width: 100%;
  position: relative;
}

.player .info .progress-bar .bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: red;
  width: 10%;
  transition: all 0.2s ease;
}

.player .info.active {
  top: -60px;
  opacity: 1;
  transition: all 0.5s ease;
}

/* Styles pour .control-panel */
.player .control-panel {
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  width: 300px;
  height: 80px;
  z-index: 5;
  box-shadow: 0px 20px 20px 5px rgba(132, 132, 132, 0.3);
}

.player .control-panel .album-art {
  position: absolute;
  left: 20px;
  top: -15px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0);
  transform: scale(1);
  transition: all 0.5s ease;
}

.player .control-panel .album-art::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.player .control-panel .album-art::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80px;
  background-image: url(disque-vinyle.png);
}

.player .control-panel.active .album-art {
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.2);
  transition: all 0.5s ease;
}

.player .control-panel.active .album-art::before {
  animation: rotation 3s infinite linear;
  -webkit-animation: rotation 3s infinite linear;
  animation-fill-mode: forwards;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.player .control-panel .controls {
  display: flex;
  justify-content: flex-end;
  height: 80px;
  padding: 0 15px;
}

.player .control-panel .controls .prev,
.player .control-panel .controls .play,
.player .control-panel .controls .next,
.player .control-panel .controls .pause {
  width: 55px;
  height: auto;
  border-radius: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px;
  margin: 5px 0;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
}
.player .control-panel .controls .play {
  background-image: url(bouton-jouer.png);
}
.pause {
  background-image: url(bouton-pause.png);
}
